<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288859820858-ol9c86hg89nvsbokoff1glue2ii9r55b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288859820858-ol9c86hg89nvsbokoff1glue2ii9r55b</string>
	<key>API_KEY</key>
	<string>AIzaSyBV-azov8Zats2sFirt0atmJlZN8YRDfXA</string>
	<key>GCM_SENDER_ID</key>
	<string>288859820858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ymsoft.Fidipu</string>
	<key>PROJECT_ID</key>
	<string>fidipu-4fcbb</string>
	<key>STORAGE_BUCKET</key>
	<string>fidipu-4fcbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288859820858:ios:66d7765b5fc046f6793603</string>
</dict>
</plist>